<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExplorerNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExplorerNet.Properties.Settings>
            <setting name="HeightLevel" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WidthFilepanel" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FileOverwriteOption" serializeAs="String">
                <value>ShowDialog</value>
            </setting>
        </ExplorerNet.Properties.Settings>
    </userSettings>
</configuration>